@charset "UTF-8";

body {
  overflow-x: hidden;
  background-color: #000000;
  font-family: 'Yu Mincho', '游明朝';
  padding-bottom: 0;
}

/* ヘッダー */
.header {
  position: relative;
  margin-bottom: 100px;
}

#hamburger_btn_check:checked~.hamburger_btn .btn_close {
  display: block;
}

#hamburger_btn_check:checked~.hamburger_btn .btn_open {
  display: none;
}

.btn_close {
  display: none;
}

#hamburger_btn_check {
  display: none;
}

.my_navbar_brand,
.my_nav_link {

  /* フォントサイズを16pxに設定 */
  font-size: 16px;

  /* フォント色を黒色に設定 */
  color: #ffffff;

}

/* スライダー */
.slider img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.logo {
  background-image: url("../img/logo_white.png");
  background-size: cover;
  background-position: top;
  width: 245px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media(min-width: 900px) {
  .logo {
    width: 410px;
    height: 240px;
  }
}

/* アバウト・ビール セクション */
#about img,
#beers img {
  aspect-ratio: 1.33;
  display: block;
  object-fit: cover;
}

#about p,
#beers p {
  writing-mode: vertical-rl;
  vertical-align: middle;
  margin: 0 auto;
  line-height: 2;
}

/* リンクセクション */
.store,
.brewery,
.company {
  height: 33vh;
  position: relative;
  outline: 1px solid #ffffff;
  outline-offset: -20px;
}

.store img,
.brewery img,
.company img {
  object-fit: cover;
}

@media(min-width: 992px) {

  .store,
  .brewery,
  .company {
    height: 100vh;
  }
}

.store_heading,
.brewery_heading,
.company_heading {
  position: absolute;
  right: 35px;
  bottom: 35px;
  text-align: center
}

.store_heading h2,
.brewery_heading h2,
.company_heading h2 {
  color: #ffffff;
  font-size: 3.4rem;
  font-family: "Dancing Script", serif;
  line-height: 3.6rem;
  font-weight: 600;
}

.store_heading p,
.brewery_heading p,
.company_heading p {
  color: #fff;
  font-size: 1.6rem;
  display: inline-block;
  border-top: solid 1px #ffffff;
}

/* 安房ブルワリーセクション */

.my-container {
  aspect-ratio: 0.5;
}

#awa-brewery img {
  aspect-ratio: 1;
  object-fit: cover;
}

/* フッター */

footer {
  margin-top: 9rem;
}

footer a {
  color: #fff;
}

.my_link a::after {
  content: "＞";
  position: absolute;
  right: 1rem;
}

.my_logo img {
  padding: 0 1.5rem;
}

.my_sns img {
  height: 32px;
  width: auto;
}

/* ショップ */

.item_img {
  aspect-ratio: 1.33;
  object-fit: cover;
}